<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{Administrador/template_administracion.html :: head}"></head>

<body>
  <!-- ======== Preloader =========== -->
  <div id="preloader">
    <div class="spinner"></div>
  </div>

  <!-- Sidebar -->
  <div th:insert="~{Administrador/template_administracion.html :: sidebar}"></div>
  <div class="overlay"></div>

  <!-- ======== main-wrapper start =========== -->
  <main class="main-wrapper">
    <!-- ========== header start ========== -->
    <div th:insert="~{Administrador/template_administracion.html :: header}"></div>
    <!-- ========== header end ========== -->

    <!-- ========== section start ========== -->
    <section class="section">
      <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="title">
                <h2 th:text="${tituloPagina != null ? tituloPagina : 'eCommerce Dashboard'}"></h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a th:href="@{/administrador/Dashboard}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      <span th:text="${subtituloPagina != null ? subtituloPagina : 'eCommerce'}"></span>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
		<div class="row">
		           <div class="col-xl-3 col-lg-4 col-sm-6">
		             <div class="icon-card mb-30">
		               <div class="icon purple">
		                 <i class="bi bi-person-lines-fill"></i>
		               </div>
		               <div class="content">
		                 <h6 class="mb-10">Usuarios</h6>
		                 <h3 class="text-bold mb-10" th:text="${UsuariosA}" th:title="${Activos + ' activos'}"></h3>
		                 <p class="text-sm text-danger" >
		                   <i class="bi bi-arrow-down"></i>
						   <span class="text-danger" th:text="${Inactivos}"></span><br>
		                   <span class="text-gray">Inactivos</span>
		                 </p>
		               </div>
		             </div>
		             <!-- End Icon Cart -->
		           </div>
		           <!-- End Col -->
		           <div class="col-xl-3 col-lg-4 col-sm-6">
		             <div class="icon-card mb-30">
		               <div class="icon success">
		                 <i class="bi bi-person-standing"></i>
		               </div>
		               <div class="content">
		                 <h6 class="mb-10">Aprendices</h6>
		                 <h3 class="text-bold mb-10" th:text="${Aprendiz}"></h3>
		                 <p class="text-sm text-success">
		                   <i class="lni lni-arrow-up"></i> +5.45%
		                   <span class="text-gray">Increased</span>
		                 </p>
		               </div>
		             </div>
		             <!-- End Icon Cart -->
		           </div>
		           <!-- End Col -->
		           <div class="col-xl-3 col-lg-4 col-sm-6">
		             <div class="icon-card mb-30">
		               <div class="icon primary">
						<i class="bi bi-person-fill"></i>
		               </div>
		               <div class="content">
		                 <h6 class="mb-10">Instructores</h6>
		                 <h3 class="text-bold mb-10" th:text="${Instructor}"></h3>
		                 <p class="text-sm text-danger">
		                   <i class="lni lni-arrow-down"></i> -2.00%
		                   <span class="text-gray">Expense</span>
		                 </p>
		               </div>
		             </div>
		             <!-- End Icon Cart -->
		           </div>
		           <!-- End Col -->
		           <div class="col-xl-3 col-lg-4 col-sm-6">
		             <div class="icon-card mb-30">
		               <div class="icon orange">
		                 <i class="bi bi-person-walking"></i>
		               </div>
		               <div class="content">
		                 <h6 class="mb-10">Visitantes</h6>
		                 <h3 class="text-bold mb-10" th:text="${Visitante}"></h3>
		                 <p class="text-sm text-danger">
		                   <i class="lni lni-arrow-down"></i> -25.00%
		                   <span class="text-gray"> Earning</span>
		                 </p>
		               </div>
		             </div>
		             <!-- End Icon Cart -->
		           </div>
		           <!-- End Col -->
		         </div>
       

       

      </div>
    </section>

    <!-- Footer -->
    <div th:insert="~{Administrador/template_administracion.html :: footer}"></div>
  </main>

  <div th:insert="~{Administrador/template_administracion.html :: jsFiles}"></div>
</body>
</html>
