<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{Administrador/template_administracion.html :: head}"></head>

<body>
	<!-- ======== Preloader =========== -->
	<div id="preloader">
		<img th:src="@{/images/LogoBlankogoty.png}" alt="Logo blanco">
	</div>

	<!-- Sidebar -->
	<div th:insert="~{Administrador/template_administracion.html :: sidebar}"></div>
	<div class="overlay"></div>

	<!-- ======== main-wrapper start =========== -->
	<main class="main-wrapper">

		<!-- Header -->
		<div th:insert="~{Administrador/template_administracion.html :: header}"></div>

		<section class="section">
			<div class="container-fluid">

				<!-- Título -->
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-6">
							<h2 th:text="${'¡Bienvenido ' + session.nombre + '!'}"></h2>
						</div>
						<div class="col-md-6">
							<div class="breadcrumb-wrapper">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a th:href="@{/administrador/dashboard}">Dashboard</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											<span
												th:text="${subtituloPagina != null ? subtituloPagina : 'eCommerce'}"></span>
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>

				<!-- ======== Tarjetas de estadísticas ======== -->
				<div class="row g-4 mt-2">

					<div class="col-xl-3 col-md-6">
						<div class="icon-card mb-30">
							<div class="icon purple">
								<i class="bi bi-person-lines-fill"></i>
							</div>
							<div class="content">
								<h6>Usuarios</h6>
								<h3 class="text-bold" th:text="${UsuariosA}" th:title="${Activos + ' activos'}"></h3>
								<p class="text-sm text-success">
									<i class="bi bi-check-circle-fill"></i>
									<span th:text="${Activos}"></span>
									<span class="text-success">Activos</span>
								</p>
								<p class="text-sm text-danger">
									<i class="bi bi-dash-circle-fill"></i>
									<span th:text="${Inactivos}"></span>
									<span class="text-danger">Inactivos</span>
								</p>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-md-6">
						<div class="icon-card mb-30">
							<div class="icon success">
								<i class="bi bi-person-standing"></i>
							</div>
							<div class="content">
								<h6>Aprendices</h6>
								<h3 class="text-bold" th:text="${Aprendiz}"></h3>
								<p class="text-sm text-success">
									<i class="bi bi-check-circle-fill"></i>
									<span th:text="${AprendizAc}"></span>
									<span class="text-success">Activos</span>
								</p>
								<p class="text-sm text-danger">
									<i class="bi bi-dash-circle-fill"></i>
									<span th:text="${ApInactivo}"></span>
									<span class="text-danger">Inactivos</span>
								</p>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-md-6">
						<div class="icon-card mb-30">
							<div class="icon primary">
								<i class="bi bi-person-fill"></i>
							</div>
							<div class="content">
								<h6>Instructores</h6>
								<h3 class="text-bold" th:text="${Instructor}"></h3>
								<p class="text-sm text-success">
									<i class="bi bi-check-circle-fill"></i>
									<span th:text=${AcInstructor}></span>
									<span class="text-success">Activos</span>
								</p>
								<p class="text-sm text-danger">
									<i class="bi bi-dash-circle-fill"></i>
									<span th:text="${InInactivo}"></span>
									<span class="text-danger">Inactivos</span>
								</p>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-md-6">
						<div class="icon-card mb-30">
							<div class="icon orange">
								<i class="bi bi-person-walking"></i>
							</div>
							<div class="content">
								<h6>Visitantes</h6>
								<h3 class="text-bold" th:text="${Visitante}"></h3>
								<p class="text-sm text-success">
									<i class="bi bi-check-circle-fill"></i>
									<span th:text="${VisitAc}"></span>
									<span class="text-success">Presentes</span>
								</p>
								<p class="text-sm text-danger">
									<i class="bi bi-dash-circle-fill"></i>
									<span th:text="${VisitEg}"></span>
									<span class="text-danger">Egresados</span>
								</p>
							</div>
						</div>
					</div>

				</div>

				<!-- ======== Gráfica + Tabla ======== -->
				<div class="row">

					<!-- Gráfica -->
					<div class="col-lg-5 mb-4">
						<div class="card p-3 shadow-sm">
							<h4 class="mb-3 text-center">Gráfica de usuarios activos</h4>
							<canvas id="graficaRoles" style="width: 100%; margin: auto;"></canvas>
						</div>
					</div><br>

					<!-- Tabla -->
					<div class="col-lg-7">
						<div class="card p-3 shadow-sm">
							<h4 class="mb-3 text-center">Vigilantes</h4>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr class="centrados">

											<th scope="col">Nombre</th>
											<th scope="col">Documento</th>
											<th scope="col">Teléfono</th>

										</tr>
									</thead>
									<tbody th:each="v : ${vigilancia}">
										<tr class="centrados">

											<td th:text="${v.nombre}"></td>
											<td th:text="${v.documento}"></td>
											<td th:text="${v.telefono}"></td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section><br>

		<!-- Footer -->
		<div th:insert="~{Administrador/template_administracion.html :: footer}"></div>

	</main>

	<div th:insert="~{Administrador/template_administracion.html :: jsFiles}"></div>

	<script th:inline="javascript">
		const ctx = document.getElementById('graficaRoles');

		new Chart(ctx, {
			type: 'pie',
			data: {
				labels: /*[[${labels}]]*/"",
				datasets: [{
					data: /*[[${data}]]*/"",
					backgroundColor: [
						'#92B6D6',
						'#3687CE',
						'#363BCE',
						'#2F3574',
						'#84878A',
						'#CAD5E2',
						'#795548'
					]
				}]
			},
			options: {
				responsive: true,
				plugins: {
					legend: {position: 'bottom'}
				}
			}
		});
	</script>

</body>

</html>