<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{Administrador/template_administracion.html::head}"></head>

<body>
	<!-- ======== Preloader =========== -->
	<div id="preloader">
		<div class="spinner"></div>

	</div>

	<div th:insert="~{/Administrador/template_administracion.html::sidebar}"></div>

	<div class="overlay"></div>

	<main class="main-wrapper">

		<div th:insert="~{Administrador/template_administracion.html::header}"></div>

		<section class="section">

			<div class="container-fluid">
				<!-- ========== title-wrapper start ========== -->
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="title">
								<h2>Registro de fichas</h2>
							</div>
						</div>
						<!-- end col -->
						<div class="col-md-6">
							<div class="breadcrumb-wrapper">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="#0">Registros</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Registro de fichas
										</li>

									</ol>
								</nav>
							</div>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<div class="card-style mb-15">


					<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
						<div class="col-lg-12">
							<div class="form-form-wrapper">

								<p>Ingrese los datos de la ficha que desea actualizar:</p>


								<form th:action="@{/Administrador/update}" method="post">
									<div>
										<input type="hidden" name="idFicha" id="idFicha" th:value="${ficha.idFicha}">
									</div>
									<div class="row g-3">
										<div class="col-md-6">

											<div class="input-style-3">
												<span class="icon"> <svg width="24" height="24" viewBox="0 0 25 24"
														fill="none" xmlns="http://www.w3.org/2000/svg"
														transform="rotate(0 0 0)">
														<path
															d="M4.02344 4.5C3.60922 4.5 3.27344 4.83579 3.27344 5.25C3.27344 5.66421 3.60922 6 4.02344 6L15.0234 6C15.4377 6 15.7734 5.66421 15.7734 5.25C15.7734 4.83579 15.4377 4.5 15.0234 4.5H4.02344Z"
															fill="#9beb0c" />
														<path
															d="M4.02344 9C3.60922 9 3.27344 9.33579 3.27344 9.75C3.27344 10.1642 3.60922 10.5 4.02344 10.5L20.0234 10.5C20.4377 10.5 20.7734 10.1642 20.7734 9.75C20.7734 9.33579 20.4377 9 20.0234 9L4.02344 9Z"
															fill="#9beb0c" />
														<path
															d="M4.02344 18C3.60922 18 3.27344 18.3358 3.27344 18.75C3.27344 19.1642 3.60922 19.5 4.02344 19.5L20.0234 19.5C20.4377 19.5 20.7734 19.1642 20.7734 18.75C20.7734 18.3358 20.4377 18 20.0234 18L4.02344 18Z"
															fill="#9beb0c" />
														<path
															d="M3.27344 14.25C3.27344 13.8358 3.60922 13.5 4.02344 13.5L15.0234 13.5C15.4377 13.5 15.7734 13.8358 15.7734 14.25C15.7734 14.6642 15.4377 15 15.0234 15L4.02344 15C3.60922 15 3.27344 14.6642 3.27344 14.25Z"
															fill="#9beb0c" />
													</svg>

												</span>
												<input type="text" class="form-control" id="nombrePrograma"
													name="nombrePrograma" placeholder="Nombre del programa" required
													th:value="${ficha.nombrePrograma}" autocomplete="off">
											</div>

										</div>
										<div class="col-md-6">

											<div class="input-style-3">
												<span class="icon"> <svg width="24" height="24" viewBox="0 0 25 24"
														fill="none" xmlns="http://www.w3.org/2000/svg"
														transform="rotate(0 0 0)">
														<path
															d="M2.71968 11.4695C2.42678 11.7624 2.42677 12.2373 2.71966 12.5302L6.71966 16.5303C7.01255 16.8232 7.48742 16.8232 7.78032 16.5303C8.07322 16.2374 8.07323 15.7626 7.78034 15.4697L4.31066 11.9999L7.78032 8.53034C8.07322 8.23745 8.07323 7.76258 7.78034 7.46968C7.48745 7.17678 7.01258 7.17677 6.71968 7.46966L2.71968 11.4695Z"
															fill="#9beb0c" />
														<path
															d="M22.2803 12.5302C22.5732 12.2373 22.5732 11.7624 22.2803 11.4695L18.2803 7.46966C17.9874 7.17677 17.5126 7.17678 17.2197 7.46968C16.9268 7.76258 16.9268 8.23745 17.2197 8.53034L20.6893 11.9999L17.2197 15.4697C16.9268 15.7626 16.9268 16.2374 17.2197 16.5303C17.5126 16.8232 17.9874 16.8232 18.2803 16.5303L22.2803 12.5302Z"
															fill="#9beb0c" />
														<path
															d="M8.5 11.1C8.00294 11.1 7.6 11.5029 7.6 12C7.6 12.4971 8.00294 12.9 8.5 12.9C8.99706 12.9 9.4001 12.4971 9.4001 12C9.4001 11.5029 8.99706 11.1 8.5 11.1Z"
															fill="#9beb0c" />
														<path
															d="M11.6 12C11.6 11.5029 12.0029 11.1 12.5 11.1C12.9971 11.1 13.4001 11.5029 13.4001 12C13.4001 12.4971 12.9972 12.9 12.5001 12.9C12.003 12.9 11.6 12.4971 11.6 12Z"
															fill="#9beb0c" />
														<path
															d="M15.6 12C15.6 11.5029 16.0029 11.1 16.5 11.1C16.9971 11.1 17.4001 11.5029 17.4001 12C17.4001 12.4971 16.9972 12.9 16.5001 12.9C16.003 12.9 15.6 12.4971 15.6 12Z"
															fill="#9beb0c" />
													</svg>

												</span>
												<input type="number" class="form-control" id="numFicha" name="numFicha"
													placeholder="Número de ficha" required th:value="${ficha.numFicha}"
													autocomplete="off">
											</div>

										</div>
										<!--        ===================================================  -->

										<div class="col-12 text-center">
											<button type="submit"
												class="main-btn warning-btn btn-hover">ACTUALIZAR</button>
										</div>
									</div>
								</form>
		</section>



		<div th:insert="~{Administrador/template_administracion.html::footer}"></div>
		<!-- ========== footer end =========== -->
	</main>
	<!-- ======== main-wrapper end =========== -->

	<div th:insert="~{Administrador/template_administracion.html::jsFiles}"></div>

</body>

</html>