<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/usuario/templates_usuario.html::head}"></head>

<body class="contact-page">

	<header id="header" class="header d-flex align-items-center fixed-top">
		<div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

			<a th:href="@{/usuario/home}" class="logo d-flex align-items-center">
				<img th:src="@{/images/TecAccess.png}" alt="LogoPrin">
				<h1 class="sitename"><b>TECH</b>ACCESS</h1>
			</a>

			<nav id="navmenu" class="navmenu">
				<ul>

				</ul>
				<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
			</nav>

		</div>
	</header>

	<main class="main">

		<!-- Page Title -->
		<div class="page-title dark-background" th:style="'background-image: url(' + @{/images/fondo.jpeg} + ');'">
			<div class="container position-relative">
				<h1>Actualización de datos</h1>
				<nav class="breadcrumbs">
					<ol>
						<li><a th:href="@{/usuario_Interno/funcionarioF/fichas}"><b>Volver</b></a></li>
						<li class="current">Administrador</li>
					</ol>
				</nav>
			</div>
		</div>
		<!-- End Page Title -->

		<!-- Contact Section -->
		<section id="contact" class="contact section" style="padding-top: 220px;">
			<!--Acomodar Style cuando este todo finalizado-->
			<div class="container" data-aos="fade-up" data-aos-delay="100">
				<div class="container form-container-overlap">
					<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
						<div class="col-lg-10">
							<div class="contact-form-wrapper">
								<h2 class="text-center mb-4">Actualización de datos</h2>
								<p>Ingrese los datos de la ficha que desea actualizar:</p>


								<form th:action="@{/usuario_Interno/funcionarioF/update}" method="post">
									<div>
										<input type="hidden" name="idFicha" id="idFicha" th:value="${ficha.idFicha}">
									</div>
									<div class="row g-3">
										<div class="col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-person"></i>
													<input type="text" class="form-control" id="nombrePrograma" name="nombrePrograma"
														placeholder="Nombre del programa" required th:value="${ficha.nombrePrograma}"
														autocomplete="off">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-envelope"></i>
													<input type="number" class="form-control" id="numFicha" name="numFicha"
														placeholder="Número de ficha" required th:value="${ficha.numFicha}"
														autocomplete="off">
												</div>
											</div>
										</div>
										<!--        ===================================================  -->
										
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-primary btn-submit">Guardar cambios</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<div th:insert="~{/usuario/templates_usuario.html::footer}"></div>

	<div th:insert="~{/usuario/templates_usuario.html::jsFiles}"></div>

</body>

</html>