<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{Administrador/template_administracion.html::head}"></head>

<body>
	<!-- ======== Preloader =========== -->
	<div id="preloader">
		<img th:src="@{/images/LogoBlankogoty.png}" alt="Logo blanco">
	</div>

	<div th:insert="~{/Administrador/template_administracion.html::sidebar}"></div>

	<div class="overlay"></div>

	<main class="main-wrapper">

		<div th:insert="~{Administrador/template_administracion.html::header}"></div>

		<section class="section">

			<div class="container-fluid">
				<!-- ========== title-wrapper start ========== -->
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="title">
								<h2>Historial de fichas registradas</h2>
							</div>
						</div>
						<!-- end col -->
						<div class="col-md-6">
							<div class="breadcrumb-wrapper">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="#0">Historial</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Historial de fichas
										</li>

									</ol>
								</nav>
							</div>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<div class="card-style mb-15">
					<div class="d-flex justify-content-end mb-3">

						<!-- Botón Filtros -->
						<button class="btn btn-info text-white me-2" data-bs-toggle="modal"
							data-bs-target="#modalFiltros"><i class="bi bi-funnel-fill">
								Filtros</i>
						</button>

						<!-- Botón Limpiar filtros (solo si hay filtros activos) -->
						<div th:if="${nombre != null or jornada != null or estado != null or estado != null}">
							<a th:href="@{/Administrador/Historialfichas}" class="btn btn-secondary">
								Limpiar filtros
							</a>
						</div>

					</div>
					<br>

					<!-- end input -->
					<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
						<div class="col-lg-12">
							<div class="form-form-wrapper">
								<div class="table-responsive">
									<table class="invoice-table table">
										<thead>
											<tr class="centrados">
												<th scope="col">Programa</th>
												<th scope="col">Número de ficha</th>
												<th scope="col">Jornada</th>
												<th scope="col">Estado</th>

												<th scope="col">Detalles</th>
												<th scope="col">Editar </th>
												<th scope="col">Eliminar </th>
											</tr>
										</thead>
										<tbody th:each="ficha: ${fichas}">
											<tr class="centrados">
												<td th:text="${ficha.nombrePrograma}"></td>
												<td th:text="${ficha.numFicha}"></td>
												<td th:text="${ficha != null ? ficha.jornada : 'N/A' }"></td>
												<td>
													<a th:href="@{/Administrador/CambiarEstadoFicha/{id} (id = ${ficha.id})}"
														th:text="${ficha.estado}"
														th:style="${ficha.estado == 'Activo'} ? 'color: #50F527; font-weight: bold;' : 'color: red; font-weight: bold;'">
													</a>
												</td>

												<td><a title="Ver detalles" class="btn btn-info"
														th:href="@{/Administrador/ficha/{id} (id = ${ficha.id})}">
														<i class="bi bi-eye-fill" style="color: white;"></i>
													</a>
												</td>
												<td><a title="Editar" class="btn btn-warning"
														th:href="@{/Administrador/EdicionFichas/{id} (id = ${ficha.id})}">
														<i class="bi bi-pencil-fill"></i>
													</a>
												</td>
												<td><a title="Eliminar" href="#"
														th:onclick="|confirmarEliminacionFicha(${ficha.id})|"
														class="btn btn-danger"><i class="bi bi-trash-fill"></i>
													</a>
												</td>

											</tr>
										</tbody>

									</table>
								</div>

								<!-- Paginación -->
								<nav aria-label="Page navigation" class="mt-4">
									<ul class="pagination justify-content-center">

										<!-- Página anterior -->
										<li class="page-item" th:classappend="${page.first} ? 'disabled'">
											<a class="page-link"
												style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 64); border-color: rgb(0, 0, 64);"
												th:href="@{/Administrador/Historialfichas(page=${page.number - 1},
								                    nombrePrograma=${nombrePrograma},
								                    jornada=${jornada},
								                    estado=${estado},
								                    numFicha=${numFicha})}">
												Anterior
											</a>
										</li>

										<!-- Si no arranca en la página 0, mostrar la página 1 -->
										<li class="page-item" th:if="${pageNumbers[0] > 0}">
											<a class="page-link" th:href="@{/Administrador/Historialfichas(page=0,
								                    nombrePrograma=${nombrePrograma},
								                    jornada=${jornada},
								                    estado=${estado},
								                    numFicha=${numFicha})}">
												1
											</a>
										</li>

										<!-- Puntos suspensivos antes -->
										<li class="page-item disabled" th:if="${pageNumbers[0] > 1}">
											<span class="page-link">...</span>
										</li>

										<!-- Números centrales -->
										<li class="page-item" th:each="num : ${pageNumbers}"
											th:classappend="${num == page.number} ? 'active'">

											<a class="page-link" th:text="${num + 1}" th:href="@{/Administrador/Historialfichas(page=${num},
								                    nombrePrograma=${nombrePrograma},
								                    jornada=${jornada},
								                    estado=${estado},
								                    numFicha=${numFicha})}">
											</a>
										</li>

										<!-- Puntos suspensivos después -->
										<li class="page-item disabled"
											th:if="${pageNumbers[pageNumbers.size()-1] < lastPage - 1}">
											<span class="page-link">...</span>
										</li>

										<!-- Última página -->
										<li class="page-item" th:if="${pageNumbers[pageNumbers.size()-1] < lastPage}">
											<a class="page-link" th:text="${lastPage + 1}" th:href="@{/Administrador/Historialfichas(page=${lastPage},
								                    nombrePrograma=${nombrePrograma},
								                    jornada=${jornada},
								                    estado=${estado},
								                    numFicha=${numFicha})}">
											</a>
										</li>

										<!-- Página siguiente -->
										<li class="page-item" th:classappend="${page.last} ? 'disabled'">
											<a class="page-link"
												style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 64); border-color: rgb(0, 0, 64);"
												th:href="@{/Administrador/Historialfichas(page=${page.number + 1},
								                    nombrePrograma=${nombrePrograma},
								                    jornada=${jornada},
								                    estado=${estado},
								                    numFicha=${numFicha})}">
												Siguiente
											</a>
										</li>

									</ul>
								</nav>



							</div>
						</div>
					</div>
					<!-- end input -->
				</div>
				<!-- ========== title-wrapper end ========== -->
			</div>

			<!-- end container -->
		</section>



		<div th:insert="~{Administrador/template_administracion.html::footer}"></div>
		<!-- ========== footer end =========== -->
	</main>
	<!-- ======== main-wrapper end =========== -->
	<div class="modal fade" id="modalFiltros" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title">Filtros de Usuarios</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<form th:action="@{/Administrador/Historialfichas}" method="get">
					<div class="modal-body">
						<div class="row">
							<input type="hidden" name="page" value="0" />

							<!-- inputs -->
							<div class="col-md-12">
								<label>Nombre del programa</label>
								<input type="text" name="nombrePrograma" class="form-control"
									th:value="${nombrePrograma}">
							</div>
							<div class="col-md-12">
								<label>Número de ficha</label>
								<input type="number" name="numFicha" class="form-control" th:value="${numFicha}">
							</div>
							<div class="col-md-6 mt-3">
								<label>Jornada</label>
								<select name="jornada" class="form-select">
									<option value="">Todos</option>
									<option value="Mañana" th:selected="${jornada == 'Mañana'}">Mañana</option>
									<option value="Tarde" th:selected="${jornada == 'Tarde'}">Tarde</option>
									<option value="Noche" th:selected="${jornada == 'Noche'}">Noche</option>
								</select>
							</div>
							<div class="col-md-6 mt-3">
								<label>Estado</label>
								<select name="estado" class="form-select">
									<option value="">Todos</option>
									<option value="Activo" th:selected="${estado == 'Activo'}">Activo</option>
									<option value="Inactivo" th:selected="${estado == 'Inactivo'}">Inactivo</option>
								</select>
							</div>

							<div class="modal-footer">
								<button type="submit" class="btn btn-info text-white">Aplicar filtros</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
							</div>

						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	<div th:insert="~{Administrador/template_administracion.html::jsFiles}"></div>
	<script th:inline="javascript" th:if="${mensaje}">
		const icono = /*[[${tipo}]]*/ "";
		const texto = /*[[${mensaje}]]*/ "";

		Swal.fire({
			icon: icono,
			title: texto,
			timer: 2500,
			showConfirmButton: false
		});
	</script>
</body>

</html>