<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{Administrador/template_administracion.html::head}"></head>

<body>
	<!-- ======== Preloader =========== -->
	<div id="preloader">
		<div class="spinner"></div>

	</div>

	<div th:insert="~{/Administrador/template_administracion.html::sidebar}"></div>

	<div class="overlay"></div>

	<main class="main-wrapper">

		<div th:insert="~{Administrador/template_administracion.html::header}"></div>

		<section class="section">

			<div class="container-fluid">
				<!-- ========== title-wrapper start ========== -->
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="title">
								<h2>Historial de fichas registradas</h2>
							</div>
						</div>
						<!-- end col -->
						<div class="col-md-6">
							<div class="breadcrumb-wrapper">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="#0">Historial</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Historial de fichas
										</li>

									</ol>
								</nav>
							</div>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<div class="card-style mb-15">
					<br>

					<!-- end input -->
					<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
						<div class="col-lg-12">
							<div class="form-form-wrapper">

								<h2 class="text-center mb-4">Fichas registradas</h2>
								<table class="table datatable">
									<thead>
										<tr>
											<th scope="col">Id</th>
											<th scope="col">Número de ficha</th>
											<th scope="col">Nombre del programa</th>

											<th scope="col" class="centrados">Editar </th>
											<th scope="col" class="centrados">Eliminar </th>
										</tr>
									</thead>
									<tbody th:each="ficha: ${fichas}">
										<tr>
											<td th:text="${ficha.idFicha}"></td>
											<td th:text="${ficha.numFicha}"></td>
											<td th:text="${ficha.nombrePrograma}"></td>

											<td class="centrados"><a title="Editar" class="btn btn-warning"
													th:href="@{/Administrador/Edicion/{idFicha} (idFicha=${ficha.idFicha})}"><i
														class="bi bi-pencil-fill"></i> Editar</a></td>
											<td class="centrados"><a title="Eliminar" class="btn btn-danger"
													th:href="@{/Administrador/delete/{idFicha} (idFicha=${ficha.idFicha})}"><i
														class="bi bi-trash-fill "></i> Eliminar</a></td>

										</tr>
									</tbody>

								</table>


							</div>
						</div>
					</div>
					<!-- end input -->
				</div>
				<!-- ========== title-wrapper end ========== -->
			</div>

			<!-- end container -->
		</section>



		<div th:insert="~{Administrador/template_administracion.html::footer}"></div>
		<!-- ========== footer end =========== -->
	</main>
	<!-- ======== main-wrapper end =========== -->

	<div th:insert="~{Administrador/template_administracion.html::jsFiles}"></div>

</body>

</html>