<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/Administrador/templates_Administrador.html::head}"></head>

<body class="contact-page">

	<div th:insert= "~{/Administrador/templates_Administrador.html::Registro}"></div>
	
	<main class="main">

		<!-- Page Title -->
		<div class="page-title dark-background" th:style="'background-image: url(' + @{/images/fondo.jpeg} + ');'">
			<div class="container position-relative">
				<h1>Registro</h1>
				<nav class="breadcrumbs">
					<ol>
						<li><a th:href="@{/Administrador/home}"><b>Salir</b></a></li>
						<li class="current">Administrador</li>
					</ol>
				</nav>
			</div>
		</div>
		<!-- End Page Title -->

		<!-- Contact Section -->
		<section id="contact" class="contact section" style="padding-top: 220px;">
			<!--Acomodar Style cuando este todo finalizado-->
			<div class="container" data-aos="fade-up" data-aos-delay="100">
				<div class="container form-container-overlap">
					<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
						<div class="col-lg-10">
							<div class="contact-form-wrapper">
								<h2 class="text-center mb-4">Registro de personal</h2>
								<p>Ingrese los datos de la persona a registrar:</p>


								<form th:action="@{/Administrador/form}" method="post">
									<div class="row g-3">
										<div class="col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-person"></i>
													<input type="text" class="form-control" id="nombre" name="nombre"
														placeholder="Nombre completo" required autocomplete="off" >
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-envelope"></i>
													<input type="email" class="form-control" id="email" name="email"
														placeholder="Correo electrónico" required autocomplete="off">
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-telephone"></i>
													<input type="number" class="form-control" id="telefono"
														name="telefono" placeholder="Teléfono" required autocomplete="off" >
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-compass"></i>
													<input type="text" class="form-control" id="direccion"
														name="direccion" placeholder="Dirección" required autocomplete="off">
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-person-vcard"></i>
													<input type="number" class="form-control" id="documento"
														name="documento" placeholder="Número de documento" required autocomplete="off">
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-lock"></i>
													<input type="password" class="form-control" id="password"
														name="password" placeholder="Asignar contraseña" required autocomplete="off">
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-123"></i>
													<select class="form-control" id="ficha" name="ficha.idFicha" autocomplete="off">
														<option value="" class="centrados">------ Ficha ------</option>
														<option th:each="ficha : ${fichas}" 
														th:value="${ficha.idFicha}"
														th:text="${ficha.numFicha}">
														</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-brightness-low"></i>
													<select class="form-control" id="estadoCuenta"
														name="estadoCuenta" required>
														
														<option value="" class="centrados">----- Estado -----</option>
														<option value="">Activo</option>
														<option value="">Inactivo</option>
														
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<div class="input-with-icon">
													<i class="bi bi-person-bounding-box"></i>
													<select class="form-control" id="Rol" name="rol" required>
														
														<option value="" class="centrados">--- Seleccione rol ---</option>
														<option >Administrador</option>
														<option value="">Funcionario</option>
														<option value="">Instructor</option>
														<option value="">Aprendiz</option>
														<option value="">vigilancia</option>
														<option value="">Visitantes</option>

													</select>
												</div>
											</div>
										</div>
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-primary btn-submit">REGISTRAR</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<div th:insert="~{/Administrador/templates_Administrador.html::footer}"></div>

	<div th:insert="~{/Administrador/templates_Administrador.html::jsFiles}"></div>

</body>

</html>