<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{Administrador/template_administracion.html::head}"></head>

<body>
	<!-- ======== Preloader =========== -->
	<div id="preloader">
		<img th:src="@{/images/LogoBlankogoty.png}" alt="Logo blanco">
	</div>

	<div th:insert="~{/Administrador/template_administracion.html::sidebar}"></div>

	<div class="overlay"></div>

	<main class="main-wrapper">

		<div th:insert="~{Administrador/template_administracion.html::header}"></div>

		<section class="section">

			<div class="container-fluid">
				<!-- ========== title-wrapper start ========== -->
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="title">
								<h2>Perfil de usuario</h2>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<br>

				<!-- end input -->
				<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">

					<div class="col-lg-12">
						<div class="card-style settings-card-1 mb-30">
							<div class="title mb-30 d-flex justify-content-between align-items-center">
								<h6>Mi perfil</h6>
								<a class="border-0 bg-transparent" th:href="@{/Administrador/EdicionPerfil}"
									title="Editar">
									<i class="bi bi-pencil-square"></i>
								</a>
							</div>
							<div class="profile-info">
								<div class="d-flex align-items-center mb-30">
									<div class="profile-image">
										<img th:src="${session.imagen}" alt="Foto de perfil">
									</div>
									<div class="profile-meta">
										<h2 class="text-bold text-dark mb-10" th:text="${session.nombre}"></h2>
										<p class="text-sm text-gray" th:text="${session.rol}"></p>
									</div>
								</div>
								<div class="row">
									<!-- Columna izquierda -->
									<div class="col-md-6">

										<div class="mb-3">
											<h4 class="mb-1">Correo</h4>
											<p th:text="${session.email}" class="text-gray"></p>
										</div>

										<div class="mb-3">
											<h4 class="mb-1">Documento</h4>
											<p th:text="${session.documento}" class="text-gray"></p>
										</div>
									</div>

									<!-- Columna derecha -->
									<div class="col-md-6">

										<div class="mb-3">
											<h4 class="mb-1">Dirección</h4>
											<p th:text="${session.direccion}" class="text-gray"></p>
										</div>

										<div class="mb-3">
											<h4 class="mb-1">Teléfono</h4>
											<p th:text="${session.telefono}" class="text-gray"></p>
										</div>
									</div>
								</div>




							</div>
						</div>

					</div>
				</div>

			</div>

		</section>



		<div th:insert="~{Administrador/template_administracion.html::footer}"></div>

	</main>

	<div th:insert="~{Administrador/template_administracion.html::jsFiles}"></div>

</body>

</html>