<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/Vigilancia/templates_vigilancia.html::head}"></head>

<body class="contact-page">

	<div th:insert="~{/Vigilancia/templates_vigilancia.html::Ingresos}"></div>
		
	<main class="main">

		<!-- Page Title -->
		<div class="page-title dark-background" th:style="'background-image: url(' + @{/images/fondo.jpeg} + ');'">
			<div class="container position-relative">
				<h1>Ingresos</h1>
				<nav class="breadcrumbs">
					<ol>
						<li><a th:href="@{/usuario/home}"><b>Salir</b></a></li>
						<li class="current">Vigilancia</li>
					</ol>
				</nav>
			</div>
		</div>
		<!-- End Page Title -->

		<!-- Contact Section -->
		<section id="contact" class="contact section" style="padding-top: 220px;">
			<!--Acomodar Style cuando este todo finalizado-->
			<div class="container" data-aos="fade-up" data-aos-delay="100">
				<div class="container form-container-overlap">
					<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
						<div class="col-lg-10">
							<div class="contact-form-wrapper">



								<div class="col-md-12">
									<h5 class="mb-3"><i class="bi bi-activity me-2">Ingreso de personal</i></h5>


									<table class="table datatable">
										<thead>
											<tr class="centrados">
												<th scope="col">Nombre completo</th>
												<th scope="col">Documento</th>
												<th scope="col">Rol</th>
												<th scope="col">Ficha</th>

												<th scope="col"> Asistencia </th>
											</tr>
										</thead>
										<tbody th:each="usuario: ${Usuarios}">
											<tr class="centrados">
												<td th:text="${usuario.nombre}"></td>
												<td th:text="${usuario.documento}"></td>
												<td th:text="${usuario.rol.tipo}"></td>
												<td th:text="${usuario.ficha != null ? usuario.ficha.numFicha : '-'}"></td>

												<td>
													<button type="button" class="btn btn-outline-success"
														data-bs-toggle="modal" data-bs-target="#exampleModal">
														Ingreso
													</button>
												</td>



											</tr>

										</tbody>


									</table>
								</div>

							</div>
						</div>
					</div>
		</section>

	</main>

	<div th:insert="~{/Vigilancia/templates_vigilancia.html::footer}"></div>

	<div th:insert="~{/Vigilancia/templates_vigilancia.html::jsFiles}"></div>

</body>

</html>