<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/error/templates_usuario.html::head}"></head>

<body class="page-404">


	<main class="main">


		<!-- Error 404 Section -->
		<section id="error-404" class="error-404 section">

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="error-wrapper">
					<div class="row align-items-center">
						<div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
							<div class="error-illustration">
								<i class="bi bi-exclamation-triangle-fill"></i>
								<div class="circle circle-1"></div>
								<div class="circle circle-2"></div>
								<div class="circle circle-3"></div>
							</div>
						</div>
						<div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
							<div class="error-content">
								<span class="error-badge" data-aos="zoom-in" data-aos-delay="400">Error</span>
								<h1 class="error-code" data-aos="fade-up" data-aos-delay="500">404</h1>
								<h2 class="error-title" data-aos="fade-up" data-aos-delay="600">Página no encontrada</h2>
								<p class="error-description" data-aos="fade-up" data-aos-delay="700">
									La página que esta buscando ha sido inhabilitada, su nombre cambió o esta temporalmente fuera de servicio.
								</p>

								<div class="error-actions" data-aos="fade-up" data-aos-delay="800">
									<a onclick="window.history.back()" class="btn-home">
										<i class="bi bi-arrow-return-left text-white"></i>Volver
									</a>
									<a th:href="@{/soporte}" class="btn-help">
										<i class="bi bi-question-circle"></i> Centro de ayuda
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</section><!-- /Error 404 Section -->

	</main>
	
	<div th:insert="~{/error/templates_usuario.html::footer}"></div>
	
	<div th:insert="~{/error/templates_usuario.html::jsFiles}"></div>

</body>

</html>