<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{/templates_usuario.html::head}"></head>

<body style="background-color: rgb(14, 15, 15);" class="index-page">

	<header id="header" class="header d-flex align-items-center fixed-top">
		<div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

			<a th:href="@{/}" class="logo d-flex align-items-center">

				<img th:src="@{/images/TecAccess.png}" alt="Logo Principal">

				<h1 class="sitename"><strong>TECH</strong>ACCESS</h1>
			</a>

			<nav id="navmenu" class="navmenu">
				<ul>
					<li><a th:href="@{/}" class="active" style="color: #2f92b1;"><b>Inicio</b></a></li>
					<li><a th:href="@{/about}">Sobre Nosotros</a></li>
					<li><a th:href="@{/soporte}">Soporte</a></li>


				</ul>
				<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
			</nav>

		</div>
	</header>

	<main class="main">

		<!-- Hero Section -->

		<section id="hero" class="hero section dark-background">

			<div class="hero-container">
				<video autoplay="" muted="" loop="" playsinline="" class="video-background">
					<source src="https://videos.pexels.com/video-files/3288315/3288315-uhd_2560_1440_30fps.mp4"
						type="video/mp4">
				</video>
				<div class="overlay"></div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-7" data-aos="zoom-out" data-aos-delay="100">
							<div class="hero-content">
								<h1>Gestione el flujo de personal en las instalaciones de su empresa</h1> <!---->
								<p>Nuestra plataforma facilita la gestión del personal en tiempo real, mejora la
									seguridad institucional y promueve la eficiencia operativa. ¡Comienza ahora!</p>
							</div>
						</div>


						<div class="col-lg-5" data-aos="zoom-out" data-aos-delay="200">
							<div class="stats-card">
								<div class="stats-header">

									<h3 style="color:rgb(255, 250, 250)">Acceso al Sistema</h3>
									<div></div>

									<form th:action="@{/login}" method="post">
										<div class="form-group">
											<label for="username" style="color:rgb(255, 255, 255)">Usuario</label>
											<input type="email" class="form-control" name="username" placeholder="Correo electrónico" required>
										</div>
										<div class="form-group">
											<label for="password" style="color:rgb(255, 255, 255)">Contraseña</label>
											<input type="password" class="form-control" name="password" placeholder="Contraseña" required>
										</div>

										<button type="submit" class="btn-login" style="color: white;">Iniciar
											Sesión</button>
									</form>
									
									

									<!-- funcion vinculo paginas roles END -->
									<div class="form-footer">
										<label style="color:white">
											<p>¿No tiene una cuenta?</p>
										</label>
										<a th:href="@{/#}" class="btn-login">Solicitar</a>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

		</section>

	</main>

	<div th:insert="~{/templates_usuario.html::footer}"></div>

	<div th:insert="~{/templates_usuario.html::jsFiles}"></div>

</body>

</html>